footer {
    width: 100%;
    background: #333333;
    padding: 50px 0;
}


.desc a {
    font-size: 16px;
    line-height: 24px;
    color: #bebebe ;
    text-decoration: none;
    display: block;
}

.ico a {
    line-height: 24px;
    padding: 5px;
}

.social-ico{
    transition: transform .2s;
    height: 30px;
}
.social-ico:hover {
    transform: scale(1.2);
}
