html,
body {
    color: #565D64;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#myMap {
    height: 100vh;
    position: absolute;
    width: 100vw;
}

.statusMessage {
    margin: 10px;
}

.storePopup {
    min-width: 150px;
}

.storePopup .popupTitle {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
    height: 30px;
    background-color: #565D64;
    color: white;
    font-weight: bold;
}

/* .storePopup .popupSubTitle {
    font-size: 10px;
    line-height: 12px;
} */

.storePopup .popupContent {
    /* font-size: 11px;
    line-height: 18px; */
    padding: 8px;
}

.storePopup img {
    vertical-align: middle;
    height: 200px;
    margin-right: 5px;
}

/* Adjust the layout of the page when the screen width is less than 800 pixels. */
@media screen and (max-width: 700px) {
    #myMap {
        width: 100vw;
        height: 250px;
        top: 135px;
        left: 0;
    }

    #myLocationBtn {
        top: 220px;
    }
}

.mapCenterIcon {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: orange;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 204, 255, 0.4);
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 50px rgba(0, 204, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 204, 255, 0);
    }
}